/.phpunit.cache
/node_modules
/public/build
/public/storage
/storage/*.key
/storage/pail
/storage/clockwork/*
/vendor
*.DS_Store*
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.ddev

public/assets/manifest.json
/database/*.sqlite*
_ide_helper*
/.phpstorm.meta.php
