{
	email {$ADMIN_EMAIL}
}

{$APP_URL} {
	root * /var/www/html/public/
	encode gzip

	php_fastcgi panel:9000
	file_server
	log {
		level DEBUG
		output file /var/log/caddy.log {
			roll_size 30MiB
			roll_keey 10
			roll_keep_for 24h
		}
	}
}
