includes:
    - vendor/larastan/larastan/extension.neon

rules:
    - App\PHPStan\ForbiddenGlobalFunctionsRule

parameters:

    paths:
        - app

    level: 6

    ignoreErrors:
        - identifier: argument.templateType
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
        - identifier: property.notFound

        # We are getting and setting environment variables directly
        -
            path: app/Filament/Admin/Pages/Settings.php
            identifier: larastan.noEnvCallsOutsideOfConfig
        -
            path: app/Console/Commands/Environment/*.php
            identifier: larastan.noEnvCallsOutsideOfConfig
