includes:
    - vendor/larastan/larastan/extension.neon

rules:
    - App\PHPStan\ForbiddenGlobalFunctionsRule

parameters:

    paths:
        - app

    level: 6

    ignoreErrors:
        - identifier: argument.templateType
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
