{
	servers {
		## docs https://caddyserver.com/docs/caddyfile/options#trusted-proxies
		{$CADDY_TRUSTED_PROXIES} 
		{$CADDY_STRICT_PROXIES}
	}
	admin off
	{$PARSED_AUTO_HTTPS}
	{$PARSED_LE_EMAIL}
}

{$PARSED_APP_URL} {
	root * /var/www/html/public
	encode gzip

	file_server
	php_fastcgi 127.0.0.1:9000
}
