
@font-face {
    font-family: Comic Mono;
    font-weight: normal;
    src: url('/fonts/ComicMono.ttf');
  }
  
  @font-face {
    font-family: Comic Mono;
    font-weight: bold;
    src: url('/fonts/ComicMono-bold.ttf');
  }
